.search {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    height: 5vh;
    max-width: 400px;
    z-index: 100;
    font-size: 20px;
}

.pac-container {
    color: orangered;
    background-color: lightgrey;
}

.pac-matched {
    font-weight: normal;
}

@media screen and (min-width: 800px) {
    .search {
        width: 40vw;
    }
}
